.product {
	user-select: none;
	cursor: pointer;
}
.product__img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 6px;
}
.product__text {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	display: -webkit-box;
	font-weight: bolder;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	color: white;
}

@media screen and (max-width: 500px) {
	.product__img {
		height: 120px;
	}
}
