.footer {
	margin-top: 50px;
}

.list_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer_list__item {
	list-style-type: none;
}
.footer_list__item a {
	display: flex;
	color: var(--text-secondary);

	gap: 5px;
}
.footer_icon {
	height: 20px;
}
.socials {
	display: flex;
	gap: 10px;
}
.socials_icon {
	height: 30px;
}
